{% extends "base.html" %}

{% block content %}
{% if category %}
<h1 class="page-header">{{ categories }}</h1>

<div class="container-fluid">
{% for post in category %}

<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div class="card mb-8">
        <div class="post-banner">
            <div class="image-container">
                {% if "default" in post.featured_image.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/mythlology/image/upload/v1669559843/j2q6nou8jai61_ehbwxe.png">
                {% else %}
                <img class="card-img-top" src="{{ post.featured_image.url }}">
                {% endif %}
            </div>
            <div>
                <h2 class="category-post-header text-center text-uppercase">
                    <a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>

{% if forloop.counter|divisibleby:6 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}

</div>
{% else %}
<h1>Sorry, this category is either empty or does not exist...</h1>
{% endif %}
{%endblock%}