{% extends "base.html" %}
{% block title %}Create a new post!{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="page-header text-center text-uppercase">Create a Blog Post!</h1>
<br><br>
{% if user.is_authenticated %}
<div class="container-fluid">

    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    {% csrf_token %}
                    <div class="row">
                        {{ create_form.title | as_crispy_field | safe }}
                    </div>
                    <div class="row">
                        {{ create_form.category | as_crispy_field | safe }}
                    </div>
                    <div class="row">
                        {{ create_form.content | as_crispy_field | safe }}
                    </div>
                    <div class="row">
                        {{ create_form.excerpt | as_crispy_field | safe }}
                    </div>
                        {{ create_form.featured_image | as_crispy_field | safe }}
                        <p>A default image will be provided if one is not uploaded.</p>
                    </div>
                    <button type="submit" class="btn btn-signup btn-lg submit-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div>
    <p>Sorry, it doesn't look like you're logged in!</p>
    <p>Please log in to publish your own posts!</p>
</div>
{% endif %}

{% endblock %}