{% extends "base.html" %}
{% block title %}Edit post!{% endblock %}
{% block content %}

<h1 class="page-header">Edit Post</h1>
<br><br>
{% if user.is_authenticated and user.id == post.author.id %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">
            Update
        </button>
    </form>
</div>
{% else %}
<div class="form-group text-center">
    <p>Sorry, it doesn't look like you're logged in!</p>
    <p>Please log in to edit posts!</p>
    <p>If this is not your post, you cannot edit it...</p>
</div>
{% endif %}

{% endblock %}