{% extends "base.html" %}
{% block title %}Edit post!{% endblock %}
{% block content %}

<h1>Edit Post</h1>
<br><br>
{% if user.is_authenticated %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">
            Update
        </button>
</div>
{% else %}
<div>
    <p>Sorry, it doesn't look like you're logged in!</p>
    <p>Please log in to edit posts!</p>
</div>
{% endif %}

</form>

{% endblock %}